<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Online_Moving_Estimate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84DF922B1F731B5F002D6140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DF923F1F731B5F002D6140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DF924A1F731B5F002D6140</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
