.background{
    background-image: url("images/moNX8nz0.jpg");
    text-align: center;
    background-size: 10%;
    position: relative;
}
.layer{
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
body{
    background-color: rgba(0,0,0,0.5);
}

h1{
    color: orange;
    font-size: 40px;
    margin-bottom: -20px;
    margin-top: 10px;
}
em{
    color:white;
}
h2{
    text-align:center;
    display: inline-block;
    padding: 0 15px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 15px;
    background-color: orange;
    color: white;
    font-style: oblique;
    border: 1px solid black;
}
p,a{
    color: orange;
    font-style: oblique;
}

a{
    color:white;
    border-left: 6px solid darkorange;
    background-color: sandybrown;
}
p{text-align: left}


#column_table {
    display: table;
    table-layout: fixed;
    width:90%;
    height:80vh;
    margin:auto;
}

#column_table .column {
    background-color: white;
    display: table-cell;
    border: 1px solid black;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
#column_table .column:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#column_table .column a{
    cursor: pointer;
    text-decoration: none;

}
.chip {
    display: inline-block;
    padding: 0 15px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: orange;
    color: white;
    float: right;
    clear: right;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid black;
}

.chip img {
    float: left;
    margin: 0 5px 0 -15.5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}