body{
    background-image: url("images/hallbarhet.jpg");
    background-size: 100% 130%;
    background-repeat: no-repeat;
    text-align: center;
}

h1{
    color: white;
    font-size: 40px;
    margin-bottom: -20px;
    margin-top: -5px;
}

h2{
    text-align:center;
}
h2,p{
    color: white;
}
p{text-align: left}


#column_table {
    display: table;
    table-layout: fixed;
    width:90%;
    height:80vh;
    margin:auto;
}

#column_table .column {
    background-color: orange;
    display: table-cell;
    border: 1px solid black;
    padding: 15px;
    border-radius: 30px;

}

#column_table .column a{
    cursor: pointer;text-decoration: none;
}
.chip {
    display: inline-block;
    padding: 0 15px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: orange;
    color: white;
    float: right;
    clear: right;
    margin-bottom: 10px;
    margin-top: 5px;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}