body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #fefefe;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: gainsboro;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.imgcontainer{
    text-align: center;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ioslogo{
    margin-right: 8%;
    margin-top: 30px;
    margin-bottom: 50px;
}
.androidlogo{
    margin-left: 8%;
    margin-top: 30px;
    margin-bottom: 50px;
}
.ioslogo:hover,.androidlogo:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
.mobile{
    animation: shake2 0.75s;
    animation-iteration-count: 4;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes shake2 {
    0% { transform: translate(2px, 2px) rotate(2deg); }
    10% { transform: translate(-2px, -3px) rotate(-5deg); }
    20% { transform: translate(-4px, 2px) rotate(5deg); }
    30% { transform: translate(4px, 3px) rotate(2deg); }
    40% { transform: translate(1px, -2px) rotate(5deg); }
    50% { transform: translate(-1px, 2px) rotate(-5deg); }
    60% { transform: translate(-3px, 2px) rotate(2deg); }
    70% { transform: translate(3px, 2px) rotate(-5deg); }
    80% { transform: translate(-2px, -2px) rotate(5deg); }
    90% { transform: translate(2px, 3px) rotate(2deg); }
    100% { transform: translate(2px, -3px) rotate(-5deg); }
}
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
h1,h2,p{
    font-family: Arial;
}
.container{
    text-align: center;
    display: inline-block;
    border: 3px solid #fefefe;
    margin-top: 20px;
    margin-bottom: 30px;
}
.leftcodecontainer{
    float:left;
    margin-right: 30px;
}
.rightcodecontainer{
    float:right;
    margin-left: 60px;
}
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 120px;
    background-color: darkorange;
}

#blog {
    top: 180px;
    background-color: #2196F3;
}

#projects {
    top: 240px;
    background-color: #f44336;
}
#mySidenav{
    position:absolute;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 60%; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #f44336; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: orange; /* Add a dark-grey background on hover */
}